<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAobF3rhSnRrS0ygAcYx30IHnuKv3pcXjQ</string>
	<key>GCM_SENDER_ID</key>
	<string>180470178962</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.blocMastered.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>blocmastered</string>
	<key>STORAGE_BUCKET</key>
	<string>blocmastered.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:180470178962:ios:be1c11f817b7d1e975324b</string>
</dict>
</plist>